In [1]:
setwd("/home/daniel/Dokumente/ueberlagerteSTA/")
library(gtools)
library(ggplot2)

In [19]:
df <- read.csv2(file= "./combinations-zfw-new.csv", stringsAsFactors = F, sep = ";")
df <- df[,1:10]

In [20]:
head(df)

  ZCH1_SOLL ZCH2_SOLL ZCH3_SOLL GESAMT_SOLL ZCH1_IST ZCH2_IST ZCH3_IST
1 13        1         1         15          0        0        0
2 12        2         1         15          0        0        0
3 11        2         2         15          0        0        0
4 10        3         2         15          0        0        0
5  9        3         3         15          0        0        0
6  8        4         3         15          0        0        0
  GESAMT_IST ZFW ZFW_NEW
1 0          15  0
2 0          15  0
3 0          15  0
4 0          15  0
5 0          15  0
6 0          15  0

In [21]:
df[df$GESAMT_SOLL == 15 & df$ZCH1_SOLL == 13 & df$GESAMT_IST == 13,]

     ZCH1_SOLL ZCH2_SOLL ZCH3_SOLL GESAMT_SOLL ZCH1_IST ZCH2_IST ZCH3_IST
3651 13        1         1         15          11       1        1
3660 13        1         1         15          12       0        1
3663 13        1         1         15          12       1        0
3666 13        1         1         15          13       0        0
     GESAMT_IST ZFW       ZFW_NEW
3651 13         0.3076923 6.045598
3660 13         1.0769231 5.098859
3663 13         1.0769231 5.098859
3666 13         2.0000000 4.139656

In [22]:
df[df$GESAMT_SOLL == 15 & df$ZCH1_SOLL == 13 & df$GESAMT_IST == 5,]

     ZCH1_SOLL ZCH2_SOLL ZCH3_SOLL GESAMT_SOLL ZCH1_IST ZCH2_IST ZCH3_IST
1128 13        1         1         15          3        1        1
1186 13        1         1         15          4        0        1
1217 13        1         1         15          4        1        0
1248 13        1         1         15          5        0        0
     GESAMT_IST ZFW      ZFW_NEW
1128 5          7.692308 4.352713
1186 5          7.230769 3.802138
1217 5          7.230769 3.802138
1248 5          6.923077 3.146390

In [23]:
df[df$GESAMT_SOLL == 15 & df$ZCH1_SOLL == 13 & df$GESAMT_IST == 6,]

     ZCH1_SOLL ZCH2_SOLL ZCH3_SOLL GESAMT_SOLL ZCH1_IST ZCH2_IST ZCH3_IST
1553 13        1         1         15          4        1        1
1611 13        1         1         15          5        0        1
1641 13        1         1         15          5        1        0
1671 13        1         1         15          6        0        0
     GESAMT_IST ZFW      ZFW_NEW
1553 6          6.230769 4.802138
1611 6          5.923077 4.146390
1641 6          5.923077 4.146390
1671 6          5.769231 3.410081

In [24]:
df[df$GESAMT_SOLL == 15 & df$ZCH1_SOLL == 13 & df$GESAMT_IST == 7,]

     ZCH1_SOLL ZCH2_SOLL ZCH3_SOLL GESAMT_SOLL ZCH1_IST ZCH2_IST ZCH3_IST
1993 13        1         1         15          5        1        1
2049 13        1         1         15          6        0        1
2075 13        1         1         15          6        1        0
2101 13        1         1         15          7        0        0
     GESAMT_IST ZFW      ZFW_NEW
1993 7          4.923077 5.146390
2049 7          4.769231 4.410081
2075 7          4.769231 4.410081
2101 7          4.769231 3.612064